<footer class="footer-wrap">
	<div class="container">
		<div class="row">
			<div class="col-6 offset-1">
				<div class="footer">
					<a href="#" class="footer__journal"><img src="img/footer-journal.jpg" alt=""></a>

					<div class="footer__content">
						<nav class="footer__nav">
							<ul class="footer-menu">
								<li class="footer-menu__item"><a href="#" class="footer-menu__link">Контакты</a></li>
								<li class="footer-menu__item"><a href="#" class="footer-menu__link">Партнеры</a></li>
								<li class="footer-menu__item"><a href="#" class="footer-menu__link">Редакция</a></li>
								<li class="footer-menu__item"><a href="#" class="footer-menu__link">Распространение</a></li>
								<li class="footer-menu__item"><a href="docs/pdf-test.pdf" target="_blank" class="footer-menu__link">Медиакит</a></li>
							</ul>
						</nav>

						<div class="footer__text">Модный светский журнал для родителей «BABYER Magazine» о детях и про детей, главной целью которого является сохранение и продвижение семейных ценностей и традиций.</div>

						<div class="social-wrap">
							<span class="social">
								<a href="#" class="social__item social__item--in"></a>
								<a href="#" class="social__item social__item--fb"></a>
							</span>

							<span class="switch-lang">
								<span class="switch-lang__cur js-lang-cur">Ru</span>
								<span class="switch-lang__list">
									<span class="switch-lang__item js-lang-item">En</span>
								</span>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>