/*----------- interview-main -------------*/
.interview-main{
	margin-bottom: 140px;
	
	&__head{
		text-align: center;
		margin-bottom: 90px;
		margin-top: 15px;
	}

	&__author,
	&__author a{
		font-family: $font-bodoni;
		@include font(normal, normal, 56px, 50px, $color-text);
		text-decoration: none;
	}

	&__slogan,
	&__slogan a{
		font-family: $font-bodoni;
		@include font(normal, normal, 24px, 24px, $color-text);
		text-decoration: none;
		margin-top: 22px;
	}

	&__author a:hover,
	&__slogan a:hover{
		color: $color-grey-dark;
		text-decoration: underline;
	}

	&__text{
		@include font(normal, 500, 14px, 19px, $color-text);
	}
}

@media (max-width: 767px) {
	.interview-main{
		&__img{
			text-align: center;
			margin-bottom: 20px;
		}

		&__head{
			margin-bottom: 45px;
		}

		&__author,
		&__author a{
			font-size: 34px;
			line-height: 34px;
		}

		&__slogan,
		&__slogan a{
			font-size: 20px;
			line-height: 24px;
		}
	}
}