/*----------- partner -------------*/
.partner{
	&__list{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding: 0 140px;
	}
	
	&__item{
		display: inline-block;
		vertical-align: top;
		width: 280px;
		text-align: center;
		margin: 0 10px 30px;
	}
}

@media (max-width: 991px) {
	.partner{
		&__list{
			padding: 0;
		}
	}
}

@media (max-width: 767px) {
	.partner{
		&__item{
			width: 150px;
		}
	}
}

@media (max-width: 575px) {
	.partner{
		&__item{
			width: 120px;
		}
	}
}