/*-------------- Header -----------------*/
.header-wrap{
	background: #000;

	&--img{
		background: url(#{$path-img}/bg-header.jpg) no-repeat center;
		position: relative;
		text-align: center;
	}

	&--img::after{
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.16);
		background: -moz-linear-gradient(top, rgba(0,0,0,0.16) 0%, rgba(87,81,81,0.5) 50%, rgba(5,5,5,0.87) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.16)), color-stop(50%, rgba(87,81,81,0.5)), color-stop(100%, rgba(5,5,5,0.87)));
		background: -webkit-linear-gradient(top, rgba(0,0,0,0.16) 0%, rgba(87,81,81,0.5) 50%, rgba(5,5,5,0.87) 100%);
		background: -o-linear-gradient(top, rgba(0,0,0,0.16) 0%, rgba(87,81,81,0.5) 50%, rgba(5,5,5,0.87) 100%);
		background: -ms-linear-gradient(top, rgba(0,0,0,0.16) 0%, rgba(87,81,81,0.5) 50%, rgba(5,5,5,0.87) 100%);
		background: linear-gradient(to bottom, rgba(0,0,0,0.16) 0%, rgba(87,81,81,0.5) 50%, rgba(5,5,5,0.87) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#050505', GradientType=0 );
		position: absolute;
		left: 0;
		top: 0;
	}

	&--img .header{
		display: inline-flex;
		flex-direction: column;
		justify-content: space-between;
		height: 312px;
		margin: 0 auto;
		padding: 20px 0 30px;
	}

	&--img .social-wrap{
		order: 1;
		align-self: flex-end;
	}

	&--img .header__logo{
		order: 2;
		width: 440px;
	}

	&--img .header__nav{order: 3;}

	&--img .top-menu .top-menu__sub{
		padding-top: 30px;
	}

	&--img .top-menu__sub::before{
		top: 20px;
	}

	&--img.fixed{
		background: #000;
	}

	&.fixed{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		z-index: 100;
	}

	&--img.fixed .header{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 8px 0 2px;
		height: auto;
	}

	&--img.fixed::after{
		display: none;
	}

	&--img.fixed .social-wrap{
		order: 0;
		align-self: center;
	}

	&--img.fixed .header__logo{
		order: 0;
		width: 140px;
	}

	&--img.fixed .header__nav{order: 0;}

	&--img.fixed .top-menu .top-menu__sub{
		padding-top: 10px;
	}

	&--img.fixed .top-menu__sub::before{
		top: 0;
	}
}


.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px 0 2px;
	position: relative;
	z-index: 10;

	&__logo{
		width: 140px;
	}

	&__nav{
		margin-top: -5px;
	}
}

.top-menu{
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;

	ul,
	li{
		margin: 0;
		padding: 0;
		list-style: none;
	}

	& &__item{
		margin: 0 10px;
	}

	&__item{
		position: relative;
	}

	&__item,
	&__link{
		@include font(normal, normal, 20px, 20px, $color-grey);
		text-transform: uppercase;
		text-decoration: none;
	}

	&__item.current &__link,
	&__item:hover &__link{
		color: #fff;
		text-decoration: underline;
	}

	& &__sub{
		padding-top: 10px;
	}

	&__sub{
		display: none;
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translateX(-50%);
		min-width: 160px;
		text-align: left;
	}

	&__sub::before{
		content: '';
		display: inline-block;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 8px 10px 8px;
		border-color: transparent transparent #ffffff transparent;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
	}

	& &__sub-item{
		padding: 4px 20px;
	}

	&__sub-item:first-child{
		padding-top: 20px;
	}

	&__sub-item:last-child{
		padding-bottom: 20px;
	}

	&__sub-item{
		background: #fff;
	}

	&__sub-item,
	&__sub-link{
		@include font(normal, normal, 11px, 12px, $color-text);
		text-transform: uppercase;
		text-decoration: none;
	}

	&__sub-item:not(:last-child){
		padding-bottom: 8px;
	}

	&__sub-link.current,
	&__sub-link:hover {
		color: $color-grey-dark;
		text-decoration: underline;
	}
}

@media (max-width: 991px) {
	.header{
		&__nav{
			margin-top: 0;
		}
	}

	.top-menu{
		&__item,
		&__link{
			font-size: 16px;
			line-height: 16px;
		}
	}
}

@media (min-width: 768px) {
	.top-menu{
		&__item:hover &__sub{
			display: block;
		}
	}
}

@media (max-width: 767px) {
	.header{
		&__logo{
			width: 100px;
		}
	}

	.header-wrap{
		&--img{
			background-size: cover;
			position: relative;
		}

		&--img .header{
			display: flex;
			flex-direction: row;
			align-items: center;
			height: 132px;
			width: 100%;
			padding: 10px 15px;
		}

		&--img .header__logo{
			width: 235px;
			margin: 0 auto;
		}

		&--img .header .ic-hamburger{
			position: absolute;
			left: 0;
			@include top-center;
		}

		&--img .top-menu .top-menu__sub{
			padding-top: 0;
		}

		&--img.fixed .header__logo{
			width: 100px;
			margin-right: 0;
		}
	}

	.top-menu{
		position: relative;

		&__item{
			position: static;
		}

		&__sub{
			display: block;
			background: transparent;
			width: 260px;
			position: absolute;
			top: 0;
			left: 100%;
			transform: none;
			text-align: center;
		}

		&__sub::before{
			display: none;
		}

		&__sub-item{
			background: transparent;
			padding: 0;
		}

		&__sub-item:first-child{
			padding-top: 0;
		}

		&__sub-item:not(:last-child){
			padding-bottom: 0;
		}

		&__sub-item,
		&__sub-link{
			@include font(normal, normal, 20px, 20px, $color-grey);
			text-transform: uppercase;
			text-decoration: none;
		}

		& &__sub-item{
			padding: 0;
			margin: 0 10px 60px;
		}

		&__sub-back{
			color: #fff;
			text-decoration: underline;
			cursor: pointer;
		}
	}

	.mobile-menu{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		position: fixed;
		top: 0;
		left: -100%;
		// left: 0;
		height: 100%;;
		width: 260px;
		background: #000;
		z-index: 100;
		overflow-y: auto;
		overflow-x: hidden;
		transition: left 0.3s ease;
		text-align: left;

		&.open{
			left: 0;
		}

		&__head{
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 25px 40px;
			height: 73px;
		}

		&__content{
			padding: 25px 0;
		}

		.top-menu{
			display: block;
			text-align: center;
		}

		.top-menu .top-menu__item{
			margin-bottom: 60px;
		}

		.top-menu__item,
		.top-menu__link{
			font-size: 20px;
			line-height: 23px;
		}

		&__logo{
			width: 128px;
			margin: 0 auto;
		}

		.social{
			display: flex;
			justify-content: center;
			border-right: 0;
			margin-bottom: 90px;
			margin-top: 80px;
		}

		.social__item{
			width: 25px;
			height: 25px;
			margin-right: 35px;
		}

		.social__item:last-child{
			margin-right: 0;
		}

		&__content{
			transform: translateX(0);
			transition: all 0.5s ease 0s;
			display: block;
		}
	}
}