//Path
$path-img: "../img";
$path-fonts: "../fonts";

//Font
$font-greta: 'Greta Sans Pro', Arial, sans-serif;
$font-bodoni: 'Bodoni', Arial, sans-serif;

// Site
$color-text: #000;
$color-grey: #bebebe;
$color-grey-dark: #646464;
$color-blue: #009dff;
$color-pink: #ff00c4;
