<!doctype html>
<html lang="ru">
	<head>
	//= ../header/header-meta.html
		<title>Index</title>
	//= ../header/header-link.html
	</head>
	<body>
		<div class="wrapper">
			//= ../header/header.html
			<main>
				<div class="container">
					<div class="row">
						<div class="col-8">
							<p><a href="main.html">Главная</a></p>
							<p><a href="interview.html">Интервью</a></p>
							<p><a href="interview-detail.html">Интервью детальная</a></p>
							<p><a href="materials.html">Материалы</a></p>
							<p><a href="news-detail.html">Новости детальная</a></p>
							<p><a href="distribution.html">Распространение</a></p>
							<p><a href="partner.html">Партнеры</a></p>
							<p><a href="contacts.html">Контакты</a></p>
							<p><a href="photo-project.html">Фотопроекты</a></p>
							<p><a href="team.html">Команда редакции</a></p>
							<p><a href="journal.html">Журналы</a></p>
							<p><a href="tipografika.html">Типографика</a></p>
						</div>
					</div>
				</div>
			</main>
			//= ../footer/footer.html
		</div>

		//= ../footer/footer-script.html
	</body>
</html>
