<!doctype html>
<html lang="ru">
	<head>
	//= ../header/header-meta.html
		<title>Интервью</title>
	//= ../header/header-link.html
	</head>
	<body>
		<div class="wrapper">
			//= ../header/header.html
			<main>
				<h1 class="head-site">Шаблон интервью</h1>

				<section class="interview-main">
					<div class="container">
						<div class="row">
							<div class="col-4">
								<div class="interview-main__img"><img src="img/interview.jpg" alt=""></div>
							</div>

							<div class="col-4">
								<div class="interview-main__head">
									<div class="interview-main__author"><a href="#">Артур Райнис</a></div>
									<div class="interview-main__slogan"><a href="#">«музыка — моё вдохновение»</a></div>
								</div>

								<div class="row">
									<div class="col-4 offset-2">
										<div class="interview-main__text">Главный признак таланта — когда человек знает, чего он хочет. Наш герой — солист музыкального коллектива «Непоседы», певец, музыкант, обладатель музыкальных премий и просто невероятно обаятельный и жизнерадостный парень Артур Райнис — в свои 10 лет, без сомнений, знает всё о своём призвании и уверенно идёт к своей цели. Свой багаж достижений он отлично дополняет своим трудом и стремлением быть лучшим даже в увлечениях: он профессионально играет в гольф, для души играет на рояле, а в свободное время с успехом снимает ролики для собственного YouTube-канала. Согласитесь, есть о чём поговорить с таким парнем?</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section class="materials">
					<div class="container">
						<div class="row">
							<div class="col-4">
								<article class="materials__item">
									<a href="#" class="materials__img" style="background-image: url(img/materials.jpg);"></a>

									<div class="materials__name"><a href="#">Новости</a></div>

									<div class="materials__text">Коллекция десертов от Анны Седоковой и кондитерской «Любовь и сладости»</div>
								</article>
							</div>

							<div class="col-4">
								<article class="materials__item">
									<a href="#" class="materials__img" style="background-image: url(img/materials.jpg);"></a>

									<div class="materials__name"><a href="#">Новости</a></div>

									<div class="materials__text">Вышел клип на песню </div>
								</article>
							</div>

							<div class="col-4">
								<article class="materials__item">
									<a href="#" class="materials__img" style="background-image: url(img/materials.jpg);"></a>

									<div class="materials__name"><a href="#">Новости</a></div>

									<div class="materials__text">Коллекция десертов от Анны Седоковой и кондитерской «Любовь и сладости»</div>
								</article>
							</div>

							<div class="col-4">
								<article class="materials__item">
									<a href="#" class="materials__img" style="background-image: url(img/materials.jpg);"></a>

									<div class="materials__name"><a href="#">Новости</a></div>

									<div class="materials__text">Вышел клип на песню </div>
								</article>
							</div>

							<div class="col-4">
								<article class="materials__item">
									<a href="#" class="materials__img" style="background-image: url(img/materials.jpg);"></a>

									<div class="materials__name"><a href="#">Новости</a></div>

									<div class="materials__text">Коллекция десертов от Анны Седоковой и кондитерской «Любовь и сладости»</div>
								</article>
							</div>

							<div class="col-4">
								<article class="materials__item">
									<a href="#" class="materials__img" style="background-image: url(img/materials.jpg);"></a>

									<div class="materials__name"><a href="#">Новости</a></div>

									<div class="materials__text">Вышел клип на песню </div>
								</article>
							</div>

							<div class="col-4">
								<article class="materials__item">
									<a href="#" class="materials__img" style="background-image: url(img/materials.jpg);"></a>

									<div class="materials__name"><a href="#">Новости</a></div>

									<div class="materials__text">Коллекция десертов от Анны Седоковой и кондитерской «Любовь и сладости»</div>
								</article>
							</div>

							<div class="col-4">
								<article class="materials__item">
									<a href="#" class="materials__img" style="background-image: url(img/materials.jpg);"></a>

									<div class="materials__name"><a href="#">Новости</a></div>

									<div class="materials__text">Вышел клип на песню </div>
								</article>
							</div>
						</div>
					</div>
				</section>
			</main>
			//= ../footer/footer.html
		</div>

		//= ../footer/footer-script.html
	</body>
</html>
