<!doctype html>
<html lang="ru">
	<head>
	//= ../header/header-meta.html
		<title>Главная страница</title>
	//= ../header/header-link.html
	</head>
	<body>
		<div class="wrapper">
			//= ../header/header-main.html
			<main>
				<section class="news-list">
					<div class="container">
						<div class="row">
							<div class="col-4">
								<article class="news-list__item">
									<a href="#" class="news-list__img" style="background-image: url(img/news1.jpg);"></a>

									<div class="news-list__name"><a href="#">Новости</a></div>

									<div class="news-list__text">Коллекция десертов от Анны Седоковой и кондитерской «Любовь и сладости»</div>
								</article>
							</div>

							<div class="col-4">
								<article class="news-list__item">
									<a href="#" class="news-list__img" style="background-image: url(img/news2.jpg);"></a>

									<div class="news-list__name"><a href="#">Новости</a></div>

									<div class="news-list__text">Вышел клип на песню </div>
								</article>
							</div>
						</div>
					</div>
				</section>

				<section class="activity-wrap">
					<div class="container">
						<div class="row">
							<div class="col-8">
								<div class="h1">Мероприятия месяца</div>
							</div>
						</div>
					</div>

					<div class="activity-list">
						<div class="container">
							<div class="row">
								<div class="col-2">
									<article class="activity-list__item">
										<a href="#" class="activity-list__img" style="background-image: url(img/activity1.jpg);"></a>
										<div class="activity-list__name"><a href="#">Новости</a></div>

										<div class="activity-list__date">Сегодня</div>
									</article>
								</div>

								<div class="col-2">
									<article class="activity-list__item">
										<a href="#" class="activity-list__img" style="background-image: url(img/activity2.jpg);"></a>
										<div class="activity-list__name"><a href="#">Новости</a></div>

										<div class="activity-list__date">Сегодня</div>
									</article>
								</div>

								<div class="col-2">
									<article class="activity-list__item">
										<a href="#" class="activity-list__img" style="background-image: url(img/activity1.jpg);"></a>
										<div class="activity-list__name"><a href="#">Новости</a></div>

										<div class="activity-list__date">Сегодня</div>
									</article>
								</div>

								<div class="col-2">
									<article class="activity-list__item">
										<a href="#" class="activity-list__img" style="background-image: url(img/activity2.jpg);"></a>
										<div class="activity-list__name"><a href="#">Новости</a></div>

										<div class="activity-list__date">Сегодня</div>
									</article>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section class="photo-project">
					<div class="container">
						<div class="row">
							<div class="col-8">
								<a href="#" class="photo-project__item" style="background-image: url(img/photo-project.jpg);">
									<div class="photo-project__head">
										<div class="photo-project__title">Фотопроект:</div>
										<div class="photo-project__name">Весна</div>
									</div>

									<div class="photo-project-param">
										<div class="photo-project-param__item">
											<span class="photo-project__title">Фотограф:</span>
											<span class="photo-project__val"></span>
										</div>

										<div class="photo-project-param__item">
											<span class="photo-project__title">Модель:</span>
											<span class="photo-project__val"></span>
										</div>
									</div>
								</a>
							</div>
						</div>
					</div>
				</section>

				<section class="billboard-wrap">
					<div class="container">
						<div class="row">
							<div class="col-8">
								<div class="h1">Кино детям</div>
							</div>
						</div>
					</div>

					<div class="billboard-list">
						<div class="container">
							<div class="row">
								<div class="col-2">
									<a href="#" class="billboard-list__item">
										<div class="billboard-list__img" style="background-image: url(img/billboard1.jpg);"></div>

										<div class="billboard-list__date">10 мая</div>

										<div class="billboard-list__name">«Маугли дикой планеты»</div>
										<div class="billboard-list__author">Эрик Тости</div>
									</a>
								</div>

								<div class="col-2">
									<a href="#" class="billboard-list__item">
										<div class="billboard-list__img" style="background-image: url(img/billboard2.jpg);"></div>

										<div class="billboard-list__date">30 мая</div>

										<div class="billboard-list__name">«Тайная жизнь домашних животных 2»</div>
										<div class="billboard-list__author">Крис Рено</div>
									</a>
								</div>

								<div class="col-2">
									<a href="#" class="billboard-list__item">
										<div class="billboard-list__img" style="background-image: url(img/billboard3.jpg);"></div>

										<div class="billboard-list__date">11 июня</div>

										<div class="billboard-list__name">«Тролли. Новые приключения»</div>
										<div class="billboard-list__author">Кевин Манро и Кристиана Кэмп</div>
									</a>
								</div>

								<div class="col-2">
									<a href="#" class="billboard-list__item">
										<div class="billboard-list__img" style="background-image: url(img/billboard4.jpg);"></div>

										<div class="billboard-list__date">20 июня</div>

										<div class="billboard-list__name">«История игрушек 4»</div>
										<div class="billboard-list__author">Джош Кули</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</section>
			</main>
			//= ../footer/footer.html
		</div>

		//= ../footer/footer-script.html
	</body>
</html>
