<!doctype html>
<html lang="ru">
	<head>
	//= ../header/header-meta.html
		<title>Фотопроекты</title>
	//= ../header/header-link.html
	</head>
	<body>
		<div class="wrapper">
			//= ../header/header.html
			<main>
				<div class="container">
					<div class="row">
						<div class="col-8">
							<h1 class="head-site">Фотопроекты</h1>
						</div>
					</div>
				</div>

				<section class="photo-project">
					<div class="container">
						<div class="row">
							<div class="col-8">
								<a href="#" class="photo-project__item" style="background-image: url(img/photo-project.jpg);">
									<div class="photo-project__head">
										<div class="photo-project__title">Фотопроект:</div>
										<div class="photo-project__name">Весна</div>
									</div>

									<div class="photo-project-param">
										<div class="photo-project-param__item">
											<span class="photo-project__title">Фотограф:</span>
											<span class="photo-project__val"></span>
										</div>

										<div class="photo-project-param__item">
											<span class="photo-project__title">Модель:</span>
											<span class="photo-project__val"></span>
										</div>
									</div>
								</a>

								<a href="#" class="photo-project__item" style="background-image: url(img/photo-project.jpg);">
									<div class="photo-project__head">
										<div class="photo-project__title">Фотопроект:</div>
										<div class="photo-project__name">Весна</div>
									</div>

									<div class="photo-project-param">
										<div class="photo-project-param__item">
											<span class="photo-project__title">Фотограф:</span>
											<span class="photo-project__val"></span>
										</div>

										<div class="photo-project-param__item">
											<span class="photo-project__title">Модель:</span>
											<span class="photo-project__val"></span>
										</div>
									</div>
								</a>

								<a href="#" class="photo-project__item" style="background-image: url(img/photo-project.jpg);">
									<div class="photo-project__head">
										<div class="photo-project__title">Фотопроект:</div>
										<div class="photo-project__name">Весна</div>
									</div>

									<div class="photo-project-param">
										<div class="photo-project-param__item">
											<span class="photo-project__title">Фотограф:</span>
											<span class="photo-project__val"></span>
										</div>

										<div class="photo-project-param__item">
											<span class="photo-project__title">Модель:</span>
											<span class="photo-project__val"></span>
										</div>
									</div>
								</a>

								<a href="#" class="photo-project__item" style="background-image: url(img/photo-project.jpg);">
									<div class="photo-project__head">
										<div class="photo-project__title">Фотопроект:</div>
										<div class="photo-project__name">Весна</div>
									</div>

									<div class="photo-project-param">
										<div class="photo-project-param__item">
											<span class="photo-project__title">Фотограф:</span>
											<span class="photo-project__val"></span>
										</div>

										<div class="photo-project-param__item">
											<span class="photo-project__title">Модель:</span>
											<span class="photo-project__val"></span>
										</div>
									</div>
								</a>
							</div>
						</div>
					</div>
				</section>
			</main>
			//= ../footer/footer.html
		</div>

		//= ../footer/footer-script.html
	</body>
</html>
