<header class="header-wrap header-wrap--img">
	<div class="container">
		<div class="row">
			<div class="col-8">
				<div class="header">
					<div class="header__logo"><a href="/"><img src="img/logo.svg" alt=""></a></div>

					<nav class="header__nav">
						<ul class="top-menu">
							<li class="top-menu__item"><a href="#" class="top-menu__link">Герои</a></li>
							<li class="top-menu__item"><a href="#" class="top-menu__link">Слово детям</a></li>
							<li class="top-menu__item">
								<a href="#" class="top-menu__link">Звезды</a>
								<ul class="top-menu__sub">
									<li class="top-menu__sub-item"><a href="#" class="top-menu__sub-link">Интервью со звездой</a></li>
									<li class="top-menu__sub-item"><a href="#" class="top-menu__sub-link">Скоро мама</a></li>
									<li class="top-menu__sub-item"><a href="#" class="top-menu__sub-link">Искусство</a></li> 
								</ul>
							</li>
							<li class="top-menu__item"><a href="#" class="top-menu__link">Мода</a></li>
							<li class="top-menu__item"><a href="#" class="top-menu__link">Стиль жизни</a></li>
							<li class="top-menu__item"><a href="#" class="top-menu__link">О нас</a></li>
						</ul>
					</nav>

					<div class="social-wrap">
						<span class="social">
							<a href="#" class="social__item social__item--in"></a>
							<a href="#" class="social__item social__item--fb"></a>
						</span>

						<span class="switch-lang">
							<span class="switch-lang__cur js-lang-cur">Ru</span>
							<span class="switch-lang__list">
								<span class="switch-lang__item js-lang-item">En</span>
							</span>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>