html,
body{
	background: #fff;
	font-family: $font-greta;
	@include font(normal, normal, 14px, 16px, $color-text);
	box-sizing:border-box;
}

body.no-scroll{
	height: 100%;
	width: 100%;
	overflow: hidden;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

img{
	max-width: 100%;
}

a{
	color: $color-grey-dark;
}

a:hover,
a:active,
a:focus{
	color: $color-blue;
}

p{
	@include font(normal, normal, 14px, 16px, $color-text);
	padding: 8px 0;
	margin: 0;
}

h1,
.h1{
	font-family: $font-bodoni;
	@include font(normal, normal, 34px, 40px, $color-text);
	text-align: center;
	margin-bottom: 30px;
}

h2,
.h2{
	font-family: $font-bodoni;
	@include font(normal, normal, 20px, 24px, $color-text);
	margin-bottom: 20px;
}

h3,
.h3{
	font-family: $font-bodoni;
	@include font(normal, normal, 18px, 20px, $color-text);
	text-transform: uppercase;
	margin-bottom: 10px;
}

h4,
.h4{
	font-family: $font-bodoni;
	@include font(normal, normal, 18px, 20px, $color-text);
	margin-bottom: 10px;
}

h5,
.h5{
	font-family: $font-bodoni;
	@include font(normal, normal, 16px, 20px, $color-text);
	margin-bottom: 0;
}

h6,
.h6{
	font-family: $font-bodoni;
	@include font(normal, normal, 14px, 19px, $color-text);
	margin-bottom: 0;
}

.head-site{
	margin-bottom: 60px;
}

.wrapper{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
	max-width: 1560px;
	margin: 0 auto;
}

main{
	flex: 1;
	padding-bottom: 65px;
	padding-top: 45px;
}

.code{
	background-color: #f7f7f7;
	border: 1px solid #e1e1e8;
	color: #d14;
	padding: 1px 4px;
	display: inline-block;
	font-family: monospace, arial;
	border-radius: 3px;
}

.h-text-left{text-align: left !important;}
.h-text-center{text-align: center !important;}
.h-text-right{text-align: right !important;}
.h-text-justify{text-align: justify !important;}
.h-text-uppercase{text-transform: uppercase !important;}
.h-text-bold {font-weight: bold !important;}

#position-fixedmenu{
	position: absolute;
	top: 150px;
}

.shadow-site{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	z-index: 99;
}

.shadow-site.is-visible{
	display: block;
}

@media (max-width: 767px) {
	.container{
		width: 100%!important;
	}

	h1,
	.h1{
		font-size: 20px;
		line-height: 24px;
		margin-bottom: 23px;
	}

	.head-site{
		margin-bottom: 40px;
	}
}